.orange-button {
    background-color: #F59A2D;
    color: white;
}

.next-section {
    width:60px;
    height: 60px
}

.img-somos  {
    width:250px; 
    height: 268px
}

.a-card,
.a-card:hover {
    color: #000000;
    text-decoration: none;
}

.a-card2,
.a-card2:hover {
    color: #ffffff;
    text-decoration: none;
}